* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main {
  display: grid;
  place-items: center;
  position: relative;
  height: 400px;
  width: 400px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#eyes,
#eyes img {
  position: absolute;
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
}
